<!DOCTYPE html>
<html>
<head>
  <title>JulesRants</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'sidebar' %>
  <div id="wrapper">
    <div class="show-small container-fluid">
      <div class="show-small row">
        <div class="col-xs-12">
          <h1 id="page-title">JulesRants</h1>
        </div>
      </div>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                  <div class="content col-xs-12">
                      <%= yield %>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
